@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter-VariableFont_slnt,wght.ttf');
}

:root {
    --color-primary: #0071e3;
    --color-error: #d3071c;
    --color-success: #82D307;
    --color-warning: #FFCC00;
    --color-text: #1d1d1f;
    --color-text-lighter: #666;
    --color-hover-light: #fafafc;
    --color-border: #d6d6d6;
}

* {
    box-sizing: border-box;
}

html {
    display: flex;
    min-height: 100%;
    background-color: #fbfbfd;
}

@media only screen and (max-width: 600px) {
    html {
        background-color: white;
    }
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--color-text);
    font-size: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

hr {
    border: 1px solid var(--color-border);
    border-width: 1px 0 0 0;
    width: 100%;
}

li::marker {
    color: var(--color-error);
}

/* Utility classes */

.text-error {
    color: var(--color-error);
}

.text-muted {
    color: var(--color-text-lighter);
}

.page-title {
    border-bottom: 1px solid var(--color-border);
}

a {
    color: #0070C9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* SVG indicator icon animation */

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline;
}

.htmx-request.htmx-indicator {
    display: inline;
}

.htmx-indicator path {
    animation: .6s linear infinite rotate;
    transform-origin: 18px 18px;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.mb-36 {
    margin-bottom: 36px;
}

.mt-8 {
    margin-top: 8px;
}

/* Buttons */

button {
    border-radius: 4px;
    border: 0;
    padding: 6px 16px;
    font-size: 15px;
    font-weight: 425;
    filter: brightness(100%);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button:hover:not(:disabled) {
    filter: brightness(108%);
}

button.outlined {
    background-color: white !important;
    color: var(--color-text) !important;
    border-width: 1px;
    border-style: solid;
}

button:disabled {
    cursor: not-allowed;
}

button.primary:disabled {
    background-color: var(--color-text-lighter) !important;
}

button.primary {
    color: white;
    fill: white;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

button.success {
    color: white;
    fill: white;
    background-color: var(--color-success);
    border-color: var(--color-success);
}

button.danger {
    color: white;
    fill: white;
    background-color: var(--color-error);
    border-color: var(--color-error);
}

button.danger:disabled {
    filter: opacity(0.5);
    cursor: not-allowed;
}

button>svg {
    position: absolute;
    right: 6px;
    padding-top: 2px;
    /* top: 4px; */
}

button.small {
    font-size: 14px;
}

button>svg.icon {
    right: 3px;
}

button.btn-icon svg.icon {
    display: block;
    position: relative;
    top: auto;
    right: auto;
}

button.full-width {
    width: 100%;
}

/* Forms */

label {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 13px;
}

form small {
    margin-top: 3px;
    color: var(--color-text-lighter);
}

input,
select {
    width: 100%;
    height: 30px;
    border: 1px solid var(--color-border);
    border-radius: 3px;
    font-size: 13px;
    padding: 5px 8px;
}

input[type="checkbox"] {
    height: auto;
}

select {
    background-color: white;
}

form>div:not(.row) {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input:focus {
    border: 1px solid #0070c9;
    box-shadow: 0 0 0 3px rgba(0, 112, 201, .2);
    outline: none;
}

input[aria-invalid="true"] {
    border: 1px solid var(--color-error);
}

form>button {
    min-width: 100px;
    margin-top: 16px;
}

/* Tooltips */

.tooltip {
    position: relative;
    border-bottom: 1px dashed #000;
}

button.tooltip {
    border-bottom: none;
}

.tooltip:before {
    content: attr(data-text);
    position: absolute;

    bottom: 50%;
    transform: translateX(-50%);

    left: 50%;
    margin-bottom: 20px;

    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;

    opacity: 0;
    transition: .3s opacity;
}

button.tooltip:before {
    bottom: 70%;
}

.tooltip:after {
    content: "";
    position: absolute;

    left: 50%;

    bottom: 50%;
    transform: translateX(-50%);

    border: 10px solid #000;
    border-color: black transparent transparent transparent;

    opacity: 0;
    transition: .3s opacity;
}

button.tooltip:after {
    bottom: 70%;
}

.tooltip:hover:before,
.tooltip:hover:after {
    opacity: 1;
}

/* Auth Layout & Forms */

.auth-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-container form {
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 34px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 11px 34px 0 rgba(0, 0, 0, .2);
}

.auth-container form button {
    border-radius: 1000px;
}

.auth-container form button svg {
    padding-top: 0;
    right: 4px;
}

@media only screen and (max-width: 600px) {
    .auth-container form {
        box-shadow: none;
    }
}

.auth-container form>img {
    width: 100px;
    align-self: center;
}

.auth-container form>h2 {
    text-align: center;
}

.auth-container form>p {
    margin-bottom: 0;
    margin-top: 28px;
    text-align: center;
}

.auth-container form small.text-error {
    margin-top: 8px;
    text-align: center;
}

/* Navigation */

nav {
    display: flex;
    justify-content: center;
    background-color: #f2f2f7;
}

nav .nav-content {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

nav .nav-logo {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

nav .nav-logo img {
    height: 25px;
    margin-right: 16px;
}

nav .nav-logo h1 {
    margin: 0;
    font-size: 20px;
}

nav .nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 0 16px;
}

nav .nav-menu:hover {
    background-color: white;
}

nav .nav-menu .username {
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav .nav-menu .username svg {
    margin-left: 8px;
    fill: var(--color-primary)
}

nav .nav-menu ul {
    display: none;
    position: absolute;
    list-style: none;
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 44px;
    right: 0px;
    box-shadow: 0 11px 34px 0 rgba(0, 0, 0, .2);
    border-radius: 0 0 4px 4px;
}

nav .nav-menu ul a {
    display: block;
    padding: 16px;
    text-decoration: none;
    font-size: 14px;
}

nav .nav-menu ul a:hover {
    background-color: var(--color-hover-light);
}

nav .nav-menu:hover ul {
    display: block;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    background-color: #f2f2f7;
    font-size: 13px;
    color: var(--color-text-lighter);
}

footer .footer-content {
    max-width: 1024px;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.footer-content ul>li.spacer {
    border-right: 1px solid var(--color-border);
    padding-left: 16px;
    margin-right: 16px;
}

@media only screen and (max-width: 800px) {
    footer .footer-content {
        flex-direction: column;
        justify-content: flex-start;
    }

    footer .footer-content span {
        margin-top: 8px;
    }
}

/* Main app */

.app-content {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.app-content .center-container {
    max-width: 1024px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
}

.app-content .app-menu {
    /* background-color: white; */
    min-width: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 36px;
    padding: 36px 0;
    font-size: 14px;
}

.app-content .app-menu.htmx-request {
    flex-direction: row;
}

.app-content .app-menu .htmx-indicator {
    stroke: var(--color-text);
}

.app-content .app-menu a {
    padding: 8px 12px;
    margin: 4px 0;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.app-content a.active {
    background-color: #f2f2f7;
    font-weight: 500;
}

.app-content .app-menu a:hover:not(.active) {
    background-color: var(--color-hover-light);
}

.app-content .app-menu ul {
    margin-top: 0;
}

.app-content .app-menu button {
    margin-top: 16px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    width: 100%;
}

.app-content .app-menu .menu-item .text-error {
    padding: 0 12px;
}

.app-content main {
    padding: 36px 0;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.app-content main h1,
.app-content main h2,
.app-content main h3 {
    margin: 0;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

/* Reports Table */

.reports-search {
    border-radius: 100px;
    width: 200px;
}

.reports-table table {
    width: 100%;
    margin: 18px 0 26px;
    border-collapse: collapse;
    font-size: 14px;
}

.reports-table tr {
    border-bottom: 1px solid var(--color-border);
}

.reports-table th {
    text-transform: uppercase;
    text-align: left;
    font-weight: 300;
    padding: 8px;
    border-bottom: 2px solid var(--color-border);
}

.reports-table td:last-child,
.reports-table th:last-child {
    text-align: right;
}

.reports-table th:first-child,
.reports-table td:first-child {
    padding-left: 0;
}

.reports-table th:last-child,
.reports-table td:last-child {
    padding-right: 0;
}

.reports-table td {
    padding: 16px 8px;
}

.reports-table .report-row:hover {
    cursor: pointer;
    background-color: var(--color-hover-light);
}

.reports-table button {
    margin-top: 0;
}

.reports-table .action-buttons button.danger {
    background-color: white;
    color: var(--color-error);
    border: 1px solid var(--color-error);
}

.reports-table .action-buttons button.success {
    background-color: white;
    color: #416903;
    border: 1px solid var(--color-success);
}

.reports-table input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: var(--color-primary);
}

/* Table Pagination */

.table-paginator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.table-paginator button {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    min-width: auto;
}

.table-paginator button svg {
    position: relative;
    top: auto;
    right: auto;
}

/* Report View */

.app-content main span.report-id {
    color: var(--color-text-lighter);
    margin-right: 16px;
}

.app-content .report-view .report-title {
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 26px;
}

.app-content .report-view .back-link {
    display: inline-flex;
    align-items: center;
    fill: var(--color-primary);
    margin-left: -8px;
    font-size: 13px;
    margin-bottom: 16px;
}

.app-content .report-view .back-link svg {
    padding-top: 3px;
}

.report-info {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.report-info .info-title {
    font-weight: 500;
    margin-bottom: 5px;
}

.report-info .info-value {
    margin-bottom: 15px;
}

.occurrences-wrapper {
    overflow: auto;
    width: 100%;
    white-space: nowrap;
    padding-bottom: 16px;
    display: flex;
    /* justify-content: center; */
}

.occurrences-calendar {
    display: flex;
    margin-top: 28px;
    font-size: 12px;
    gap: 2px;
}

.occurrences-calendar .calendar-column {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.occurrences-calendar .calendar-column.weekday-labels {
    margin-right: 4px;
}

.occurrences-calendar .calendar-column.weekday-labels span {
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.occurrences-calendar .calendar-column.weekday-labels span:first-child {
    height: 13px;
}

.occurrences-calendar .calendar-day {
    width: 10px;
    height: 10px;
}

.occurrences-calendar .calendar-day.no-events {
    border: 1px solid var(--color-border);
    filter: none !important;
}

.occurrences-calendar .calendar-day.has-events {
    border: 1px solid #69030e;
    background-color: var(--color-error);
}

.occurrences-calendar .calendar-day.has-events:hover {
    box-shadow: 0px 0px 2px var(--color-primary);
}

.occurrences-calendar .calendar-month {
    width: 10px;
    margin-bottom: 2px;
}

.event-title {
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.event-controls {
    display: flex;
    gap: 4px;
}

.event-controls button {
    font-size: 13px;
    margin: 4px 0;
    display: flex;
    align-items: center;
}

.event-controls button svg.icon {
    position: relative;
    top: 1px;
    right: 0;
}

.event-controls button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 6px;
}

.event-controls button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 6px;
}

.report-event .backtrace {
    font-family: monospace;
    background-color: var(--color-hover-light);
    padding: 16px 0;
    font-size: 13px;
    line-height: 17px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;
}

.report-event .event-log {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-family: monospace;
    line-height: 18px;
}

.event-log-message {
    padding: 3px 16px;
}

.event-log-message span.level-1 {
    color: var(--color-error);
}

.event-log-message span.level-2 {
    color: var(--color-warning);
}

.event-log-message span.level-3 {
    color: var(--color-primary);
}

.event-log-message span.level-5 {
    color: var(--color-text-lighter);
}

.event-log-message:nth-child(even) {
    background-color: var(--color-hover-light);
}

/* Info Section */

.info-section {
    background-color: var(--color-hover-light);
    text-align: center;
    padding: 36px 86px;
    margin: 16px 0;
    border-radius: 5px;
}

.info-section .title {
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 18px;
}

.info-section p {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

.info-section button {
    font-size: 14px;
    margin-top: 16px;
}

.info-section form {
    text-align: start;
}

/* Tabs Titlebar */

.tabs-bar {
    border-bottom: 1px solid var(--color-border);
    justify-content: space-between;
    padding-bottom: 0 !important;
    height: 44px;
}

.tabs-bar ul {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0 0 0 26px;
    margin: 0;
    align-self: flex-end;
    display: flex;
    gap: 26px;
}

.tabs-bar a {
    text-decoration: none;
    padding-bottom: 8px;
    display: block;
}

.tabs-bar li.active a {
    border-bottom: 2px solid var(--color-primary);
}

/* New Organization Form */

.add-organization-form {
    margin-top: 36px;
}

/* Account edit form */

.account-edit-form {
    margin-top: 36px;
}

/* Organization Limits Section */

.api-usage progress {
    width: 100%;
}

.api-usage .api-usage-count {
    display: flex;
    justify-content: space-between;
}