<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Don't Panic</title>

    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="icon" type="image/png" href="/static/favicon.png">

    <link rel="stylesheet" href="/static/libs/normalize.css">
    <link rel="stylesheet" href="/static/libs/flexboxgrid.css">
    <link rel="stylesheet" href="/static/libs/awesome-notifications/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <main class="auth-container">
        {{> content}}
    </main>

    {{> components/footer}}

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/static/libs/awesome-notifications/index.var.js"></script>
    <script src="/static/libs/htmx.js"></script>

    <script>
        let notifier = new AWN({ icons: { enabled: false } });

        document.addEventListener("htmx:sendError", function (e) {
            notifier.modal("The dontpanic backend server is currently unreachable.");
        });

        document.addEventListener("htmx:responseError", function (e) {
            notifier.modal(e.detail.xhr.response);
        });

        document.addEventListener("htmx:afterRequest", function (e) {
            let message = e.detail.xhr.getResponseHeader("X-toast-message");

            if (message !== null) {
                notifier.info(message)
            }
        });
    </script>
</body>

</html>