<footer>
    <div class="footer-content">
        <ul>
            <li><a href="https://dontpanic.rs/terms" target="_blank">Terms of Use</a></li>
            <li class="spacer"></li>
            <li><a href="https://dontpanic.rs/privacy" target="_blank">Privacy Policy</a></li>
            <li class="spacer"></li>
            <li><a href="https://dontpanic.rs/contact" target="_blank">Contact Us</a></li>
        </ul>

        <span>
            Copyright &copy;
            <span x-data="" x-text="new Date().getFullYear()"></span>
            Don't Panic. Server Version {{version}}
        </span>
    </div>
</footer>