<footer>
    <div class="footer-content">
        <ul>
            <li><a href="#">Terms of Use</a></li>
            <li class="spacer"></li>
            <li><a href="#">Privacy Policy</a></li>
            <li class="spacer"></li>
            <li><a href="#">Contact Us</a></li>
        </ul>

        <span>
            Copyright &copy;
            <span x-data="" x-text="new Date().getFullYear()"></span>
            Don't Panic. Server Version {{version}}
        </span>
    </div>
</footer>