{{#*inline "content"}}
    <form>
        <img src="/static/dontpanic-ferris-logo.svg" alt="Don't Panic Ferris Logo" />

        <p>
            Your email is confirmed. You're ready to start tracking panics and error messages in Rust applications.
        </p>
        <p>
            <a href="/login" hx-get="/login" hx-target="main" hx-push-url="true">Sign In</a> to your account.
        </p>
    </form>
{{/inline}}

{{#if is_htmx}}
    {{> content}}
{{else}}
    {{> (lookup this "layout")}}
{{/if}}