{{#*inline "content"}}
    {{#if (not success)}}
        <form method="post" action="/auth/password-reset-request"
            hx-post="/auth/password-reset-request" hx-target="main" hx-disabled-elt="button">
            <img src="/static/dontpanic-ferris-logo.svg" alt="Don't Panic Ferris Logo" />

            <h2>Recover your password</h2>

            {{> components/text_input 
                name="email"
                value=form.email
                type="email"
                label="Email"
                placeholder="user@example.com"
                errors=errors.email
            }}

            <button type="submit" class="primary">
                Log In
                {{> components/icon name="chevron_right" size=24 }}
                {{> components/icon name="loader" size=24 }}
            </button>

            <p>
                Enter your the email address you registered with, and we'll contact you with further instructions.
            </p>

            <small class="text-error">{{error_message}}</small>
        </form>
    {{else}}
        <form>
            <img src="/static/dontpanic-ferris-logo.svg" alt="Don't Panic Ferris Logo" />

            <p>
                A link to recover your password has been emailed to the address provided.
            </p>
        </form>
    {{/if}}
{{/inline}}

{{#if is_htmx}}
    {{> content}}
{{else}}
    {{> (lookup this "layout")}}
{{/if}}