{{#*inline "content"}}
    <form>
        <img src="/static/dontpanic-ferris-logo.svg" alt="Don't Panic Ferris Logo" />

        {{#if require_email_verification}}
            <p>
                A link to activate your account has been emailed to the address provided.
            </p>
            <p>
                Please, give it a few minutes and check your spam and junk folder.
            </p>

            <input name="email" type="hidden" value="{{email}}" id="registered_email" />
            <button
                hx-post="/auth/resend-verification-email"
                hx-swap="none"
                hx-include="#registered_email"
                x-data="{ wait: 60 }"
                x-init="setInterval(() => wait -= 1, 1000)"
                x-bind:disabled="wait > 0"
                x-on:click="wait = 60">
                Resend Verification Email
                <span x-show="wait > 0" x-text="'(' + wait + ')'"></span>
            </button>
        {{else}}
            <p>
                Your account is created. You can now
                <a href="/login" hx-get="/login" hx-target="main" hx-push-url="true">login</a>.
            </p>
        {{/if}}
    </form>
{{/inline}}

{{#if is_htmx}}
    {{> content}}
{{else}}
    {{> (lookup this "layout")}}
{{/if}}