{{#*inline "content"}}
    <h2 class="page-title">Create Organization</h2>

    <form class="add-organization-form info-section" method="POST" hx-post="/create-organization"
        hx-disabled-elt=".add-organization-form button" hx-target="main">
        {{> components/text_input 
            name="name"
            value=form.name
            label="New Organization Name *"
            errors=errors.name
        }}

        <button type="button" hx-get="/reports" hx-target="main">
            Cancel
        </button>

        <button type="submit" class="primary">
            Create
            {{> components/icon name="loader" size=24 }}
        </button>
    </form>
{{/inline}}

{{#if is_htmx}}
    {{> content}}
{{else}}
    {{> (lookup this "layout")}}
{{/if}}