{{#*inline "content"}}
    <span class="preheader">
        Your organization has reached it's reporting quota
    </span>

    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">

        <tr>
            <td class="wrapper">
                <p>
                    Dear
                    {{#if user.name}}
                        {{user.name}},
                    {{else}}
                        {{user.email}},
                    {{/if}}
                </p>

                <p>
                    We wanted to inform you that your organization has reached its request limit for the month on our platform.
                    As a result, no additional requests can be processed{{#if reset_date}} until your limit resets on {{dateFmt date=reset_date tz=user.iana_timezone_name}}{{/if}}.
                </p>
                <p>
                    If you require immediate assistance or wish to increase your limit, please contact our support team at <a href="mailto:support@dontpanic.rs">support@dontpanic.rs</a>
                </p>
                <p>
                    Thank you for using Don't Panic!
                </p>
            </td>
        </tr>

    </table>
{{/inline}}

{{> email/layout}}